.acceuil_main_container{
    height: 100vh;
}
        .hero {
            background: linear-gradient(135deg, #212529, #495057);
            color: white;
            padding: 100px 0;
            height: 100vh;
        }

        .hero h1 {
            font-size: 3.5rem;
            font-weight: 700;
        }
        .feature-icon {
            font-size: 40px;
            color: #0d6efd;
        }
        .carousel-item img {
            height: 450px;
            object-fit: cover;
        }
        .text_muted{
            color: var(--foreground);
        }