*{
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Helvetica,;
    color: var(--foreground);
}
:root {
  --background: #181717;
  --foreground: #ffffff;
  --secondary:#dbdbdb;
}
img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}